################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BootCampSolution/BC.Api/BC.Api.csproj.user
